.footer-bar {
  color: #ffffff;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    330deg,
    rgba(0, 0, 0, 1) 29%,
    rgba(18, 41, 92, 1) 100%
  );
  padding: 0.5em 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__social {
    font-size: 1.3em;

    svg:hover {
      color: #00ffff;
      cursor: pointer;
    }

    svg:not(:last-child) {
      margin-right: 0.5em;
    }
  }
}
