.hero {
  background: url('../assets/images/hero.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  //   margin-bottom: 200vh;
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 2rem), 0 100%);
  padding-bottom: 8em;

  &__text-content {
    padding-top: 5em;
    h1 {
      background: #f4f3f4;
      display: inline-block;
      padding: 0.625em;
      margin: 0;
    }
    p {
      color: #ffffff;
      background: rgba(4, 37, 72, 0.7);
      padding: 0.625em;
    }
  }
}
