.services {
  text-align: center;

  &__box {
    svg {
      color: rgb(12, 41, 122);
      filter: drop-shadow(3px 5px 5px rgba(29, 12, 214, 0.681));
      margin-bottom: 0.5em;
    }
  }

  @media screen and (max-width: 768px) {
    &__box {
      margin-bottom: 4em;
    }
  }
}
